:root {
  --primary-font: "Roboto", sans-serif;
  --primary-font-size: 16px;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-text-color-theme-dark: #e7e9fc;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-logo-text-color: #4d5ae5;
  --logo-text-color-theme-light: #2e2f42;
  --logo-text-color-theme-dark: #f4f4fd;
  --accent-color: #404bbf;
  --button-color: #4d5ae5;
  --secondary-button-color: #f4f4fd;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --third-bg-color: #f4f4fd;
  --decoration-color: #e7e9fc;
  --primary-icon-bg-color: #4d5ae5;
  --secondary-icon-bg-color: rgba(255, 255, 255, 0.1);
  --third-icon-bg-color: #31d0aa;
  --border-color: #8e8f99;
  --card-color: #4d5ae5;
  --modal-background: #fcfcfc;
  --modal-form-text-color: #8e8f99;
  --secondary-modal-form-text-color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ================== Components ======================= */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-logo-text-color);
  margin-right: 76px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--secondary-text-color-theme-dark);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}
/* =================== /Component ====================== */

/* CТИЛІ index.html */

/* ====================== Header ======================= */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.theme-light {
  color: var(--logo-text-color-theme-light);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 27px);
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:first-child) {
  margin-left: 40px;
}
.contact-list-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

/* ========================== /Header ===================== */

/* ============================= Hero ===================== */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.style {
  background-color: var(--secondary-bg-color);
}

.hero-positioning {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color-theme-dark);
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584px;
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: var(--decoration-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--secondary-text-color-theme-dark);
}

.modal-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--logo-text-color-theme-light);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--secondary-bg-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--button-color);
}

.field-description {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--modal-form-text-color);
  margin-bottom: 4px;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--button-color);
}

.check-description {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--secondary-modal-form-text-color);
  margin-bottom: 24px;
}

.check-description-link {
  color: var(--primary-logo-text-color);
}

.check-description::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--secondary-bg-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .check-description::before {
  background-color: var(--accent-color);
  border: 1.25px solid var(--accent-color);
  background-image: url(../images/privacy-policy.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .check-description::before {
  border: 1.25px solid var(--accent-color);
}

.send {
  align-self: center;
  padding-left: 65px;
  padding-right: 65px;
}

/* ============================ /Hero ====================== */

/* =========================== Features ==================== */

.features {
  padding-top: 120px;
  padding-bottom: 36px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list-flex {
  display: flex;
  column-gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item::before {
  content: "";
  display: block;
  height: 112px;
  background-color: var(--third-bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 64px 64px;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 64px 64px;
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 64px 64px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 64px 64px;
}

/* =========================== /Features =================== */

/* ============================ Products =================== */

.products {
  padding-top: 84px;
  padding-bottom: 120px;
}

.products-list {
  display: flex;
  column-gap: 24px;
}

.product-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* ============================ /Products ================== */

/* =============================== Team ==================== */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bg {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  text-align: center;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
  padding: 32px 16px;
}

.profession {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* margin-top: 8px; */
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-icon-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--logo-text-color-theme-dark);
}

/* =============================== /Team =================== */

/* ============================ Customers ================== */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list-item {
  width: 168px;
  height: 88px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--border-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-icon:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers-list-icon {
  fill: currentColor;
}

/* =========================== /Customers ================== */

/* ============================= Footer ==================== */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.theme-dark {
  color: var(--logo-text-color-theme-dark);
}

.size {
  display: inline-block;
  line-height: 1.16;
  margin-bottom: 16px;
  margin-right: 0;
}

.dark {
  color: var(--primary-text-color-theme-dark);
  width: 264px;
}

.page-footer-flex {
  display: flex;
  align-items: baseline;  
}

.social-media-part {
  margin-left: 120px;
}

.social-media {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 16px;
}

.footer-list {
  gap: 16px;
}

.footer-link {
  background-color: var(--secondary-icon-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--third-icon-bg-color);
}

.subscribe {
  margin-left: 80px;
}

.subscribe-title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.modal-form-subscribe {
  width: 264px;  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color-theme-dark);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-subscribe:focus {
  outline: none;
  border: 1px solid var(--primary-bg-color);
}

.subscribe-btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
}

/* =========================== /Footer ===================== */

/* CТИЛІ portfolio.html */

.line {
  border-bottom: 1px solid var(--decoration-color);
}

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-button-color);
  color: var(--button-color);
  border: 1px solid var(--decoration-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-text-color-theme-dark);
  background-color: var(--primary-icon-bg-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: auto;
}
